.Header {
    border-bottom: 2px black solid;
    padding: 1em 0 1em 0;
    width: 100%;
    background-color: #BCD2EE;
}

.Header * {
    width: 100%;
    padding: 0;
    margin: 0;
}

.Header nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Header nav > p {
    text-align: center;
}

.Header nav > ul {
    text-align: right;
    margin-right: 20px;
}

.Header nav > a {
    margin-left: 20px;
}

.Header img {
    width: 20px;
    height: 20px;
}

.Header li a {
    text-decoration: none;
    color: black;
}

.Header ul {
    list-style: none;
}

.Footer {
    width: 100%;
    border-top: 2px black solid;
    background-color: #D74E09;
    padding: 1em 0 1em 0;
}

.Footer * {
    width: 100%;
    padding: 0;
    margin: 0;
}

.Footer nav {
    display: flex;
    align-items: center;
    justify-content: center;
}

.Footer p {
    margin-left: 10px;
}

.Footer ul {
    list-style-type: none;
    text-align: right;
}

.Footer li {
    margin-right: 10px;
    display: inline;
}

.Footer img {
    width: 20px;
    height: 20px;
}